<div class="mortgage-detail">
    <div class="clearfix">
        <div class="carosel">
            <ngb-carousel>
              <template ngbSlide *ngFor="let image of _mortgage.property.images">
                <img [src]="image" alt="{{ _mortgage.property.name }}">
                <div class="carousel-caption">
                  <h3>{{ _mortgage.property.name }}</h3>
                  <p> {{ _mortgage.property.address.streetAdress }} </p>
                  <p>  {{ _mortgage.property.address.city }},  {{ _mortgage.property.address.country }} </p>
                </div>
              </template>
            </ngb-carousel>
        </div>
        <div class="sumbox">
            <div class="investor">
                <h2>{{ _mortgage.accumulatedFund.numOfParticipants }}</h2>
                <span>Investors</span>
            </div>
            <div class="amount">
                <h2>{{ _mortgage.accumulatedFund.amount | currency:'USD':true:'1.0-0' }}</h2>
                <span>pledge of {{ _mortgage.pledge | currency:'USD':true:'1.0-0'}} </span>
            </div>
            <div class="daystogo">
                <h2>{{ _dayleft | number:'1.0-0'}}</h2>
                <span>days to go </span>
            </div>
        </div>
    </div>
    <div class="clearfix">
        <div class="mortgage-profolio">
            <h3> Property Details </h3>
            <div> <strong>Name:</strong> {{ _mortgage.property.name }}</div>
            <div> <strong>Address:</strong> {{ _mortgage.property.address.streetAddress}}, {{ _mortgage.property.address.city }}, {{ _mortgage.property.address.country }}</div>
             <div> <strong> Property Type </strong> {{ _mortgage.property.type }}</div>
            <div> <strong> Market Value: </strong>{{ _mortgage.property.estimatedValue | currency:'USD':true:'1.0-0' }}</div>
            <div><strong>Property Owner financial Document: </strong> <a href="{{_mortgage.property.landlord.financialDocument }}">Download PDF</a>
        </div>
        <div class="yield">
            <h3> Investment Information </h3>
            <div><strong>Yield:</strong> {{ _mortgage.interestRate}}%  </div>
            <div> <strong>Investment Term:</strong> {{ _mortgage.duration }} years </div>
        </div>
        <div class="landlord">
            <h3> Property Owner Credit Score</h3>
            <div> <strong> Score: </strong> <span class="score">80</span>         <span class="bg-success tag"> Good </span> </div>

        </div>
    </div>
    <div class="chart">
        <h3>Expected Return </h3>
        <bar-chart [mortgage]="_mortgage"></bar-chart>
    </div> 
    <div class="invest" [ngClass]='{"block": !_invest, "hide":_invest }'>
        <button class="btn btn-success" (click)="invest()">Invest on this property</button>
    </div>
    <div class="invest-amount" [ngClass]='{"block": _invest, "hide":!_invest }'>

        <button class="btn btn-success">Invest</button>
        <button class="btn btn-danger">Cancel</button>
    </div>

</div>
