.carosel {
    width: 50%;
    float: left;
}

.sumbox {
    width: 50%;
    float: left;
    padding: 10px 10px;
    text-align: right;
}
.investor, .amount, .daystogo {
    display: inline-block;
    padding-bottom: 10px;
    width: 100%;
}

h2 {
    line-height: 40px;
    font-size: 3.6em;
    font-weight: bold;
}

.investor > span, .amount > span, .daystogo > span {
    font-size: 1em;
    color: #303030;
}

.mortgage-profolio, .chart {
    padding: 20px 10px;
  
}

.yield, .landlord {
   margin-top: 10px;
}

.invest {
    margin: 10px 0 40px 0;
    text-align: center;
}

.score {
    font-size: 2.4em;
    font-weight: bolder;
}

.tag {
    font-size: 0.8em;
    width: auto;

}