
<div style="display: block">
  <canvas baseChart
         [data]="totalMoneyEarnedFromEachPlan"
         [labels]="propertyName"
         chartType="doughnut"></canvas>
</div>


<ul class="myInvestedMortgages">  
  <li class="myMortgage" *ngFor="let portfolio of _myPortfolio">
  	<img class="propertyImg" src="hackathon/img/mid1.jpg">
  	<!-- <img class="propertyImg" src="portfolio.property.images[0]"> -->
  	<h4 class="propertyName"> {{ portfolio.property.name}} </h4>
<!--   	<h4 class="landlord"> {{portfolio.property.landlord.name}} </h4> -->
    <p class="investedAmount"> <strong> Amount you have invested: </strong> 
    ${{ portfolio.investedAmount}} </p>
    <p class="percentageOwned"> <strong> Percentage you are owning: </strong> {{ portfolio.percentageOwned}}% </p>
	<p class="monthlyPayment"> <strong> Monthly received payment: </strong>${{portfolio.monthlyPayment}} </p>
	<p class="interestRate"> <strong>Monthly Interest Rate: </strong>{{portfolio.interestRate}}% </p>
	<!-- <img class="performance" src="portfolio.performance"> -->
	<img class="performance" src="hackathon/img/performance1.jpg">
  </li>
<ul>  
