

.myInvestedMortgages{
	list-style-type: none;

}

.myMortgage{
	margin-top: 5%;
	border: 1px solid black;
	border-radius: 10px;
	height: 40vh;
	position: relative;
}

.propertyImg{
	position: absolute;
	left: 1%;
	top: 5%;
	width: 35%;
	height: 80%;
	border-radius: 10px;
}

.performance{
	position: absolute;
	top: 5%;
	left: 40%;
	width: 60%;
	height: 60%;
}

.propertyName{
	position: absolute;
	top: 88%;
	left: 6.5%;	
	font-size: 1.2em;
}

.investedAmount{
	position: absolute;
	top: 70%;
	left: 50%;	
	font-size: 0.9em;
}

.percentageOwned{
	position: absolute;
	top: 77%;
	left: 50%;	
	font-size: 0.9em;
}

.monthlyPayment{
	position: absolute;
	top: 84%;
	left: 50%;	
	font-size: 0.9em;
}

.interestRate{
	position: absolute;
	top: 91%;
	left: 50%;	
	font-size: 0.9em;	
}

.highlighted{
	font-weight: bold;
}

.pie{
	margin-top: 2%;
	position: relative;
}

#pieTitle{
	position: absolute;
	top:50%;
}
