
<div class="row">
	<div class="col-md-6">
		<div class="pie" style="display: block">
			<canvas baseChart
		         [data]="totalMoneyInvestedForEachPlan"
		         chartType="pie"></canvas>
		  <h5 id="pieTitle"> Total Money Invested: ${{totalInvestmentAmount}} </h5>
		</div>
	</div>
	<div class="col-md-6">
		<div class="pie" style="display: block">
		  <canvas baseChart
		         [data]="totalMoneyEarnedFromEachPlan"
		         chartType="doughnut"></canvas>
		  <h5 id="pieTitle"> Total Money Received: ${{totalCollectedAmount}} </h5>
		</div>
	</div>
</div>


<ul class="myInvestedMortgages">  
  <li class="myMortgage" *ngFor="let portfolio of _myPortfolio">
  	<img class="propertyImg" [src]="portfolio.property.images[0]">

  	<h4 class="propertyName"> {{ portfolio.property.name}} </h4>


	<div class="progressBar">
		<h5 class="progressTitle"> Collected Amount Vs Total Investment Amount </h5>
		<ngb-progressbar [max]="portfolio.investedAmount" [value]="totalCollectedAmount"><span style="color:white; white-space:nowrap;">{{totalCollectedAmount}} / {{portfolio.investedAmount}}</span>
		</ngb-progressbar>
		<p class="totalCollectedAmount"> <strong> Amount you have received: </strong> 
    ${{ totalCollectedAmount}} </p>
		<p class="investedAmount"> <strong> Amount you have invested: </strong> 
    ${{ portfolio.investedAmount}} </p>

        <p class="percentageOwned"> <strong> Percentage you are owning: </strong> {{ portfolio.percentageOwned}}% </p>
	<p class="monthlyPayment"> <strong> Monthly received payment: </strong>${{portfolio.monthlyPayment}} </p>
	<p class="interestRate"> <strong>Monthly Interest Rate: </strong>{{portfolio.interestRate}}% </p>
	</div>


  </li>
<ul>  
