
<a class="pt-wrapper clearfix" routerLink="platform/{{_mortgage.mId}}">
    <div class="pt-item-image">
        <img src="{{_mortgage.property.images[0]}}" alt="">
    </div>
    <div class="pt-item-description">
        <h3 class="pt-item-title"> {{ _mortgage.property.name }} </h3>
        <div class="pt-item-des">
            <span><strong>Country:</strong> {{ _mortgage.property.address.country}}</span><br />
           
            <span><strong>Type:</strong> {{ _mortgage.property.type}}</span><br />
            <span><strong>Effective Interest Rate:</strong> {{_mortgage.interestRate}}%</span><br />
            <span><strong>Estimated Value:</strong> $ {{ _mortgage.property.estimatedValue }}</span> <br />
            <span><strong>Term:</strong> {{ _mortgage.duration }} years </span>
        </div>
       <ngb-progressbar type="success" value="{{_mortgage.accumulatedFund.amount/_mortgage.pledge * 100 }}"></ngb-progressbar>
        <ul>
            <li class="inlinebox">
                <strong>{{_mortgage.accumulatedFund.amount/_mortgage.pledge * 100 | number:'1.0-0'}}%</strong>
                <span>funded</span>
            </li>
            <li class="inlinebox">
                 <strong>{{ _mortgage.accumulatedFund.numOfParticipants}}</strong>
                 <span>investors</span>
            </li>
            <li class="inlinebox">
                <strong>{{_mortgage.pledge}}</strong>
                <span>days to go</span>
            </li>
        </ul>
    </div>
</a>

