a.pt-wrapper {
    position: relative;
    text-decoration: none;
    color: #0e0e0e;
    display: block;
    font-family: arial;
    border: 1px solid #d3d3d3;
    padding:0;
    margin: 0px 0 20px 0;
    height: 280px;
}

.pt-item-image {
    float: left;
    width: 50%;
}

.pt-item-description {
    float: left;
    width: 50%;
    padding: 10px 10px;
}

.pt-item-title {
    font-weight: bolder;
}

ul {
    vertical-align: baseline;
    padding: 4px 0px;
}

.inlinebox {
    display: inline-block;
    margin-right: 1.8rem;

}

.inlinebox > span {
    font-size: 0.8em;
    color: #3d3d66;
    margin: 0;
    padding: 0;
}

.inlinebox > strong {
    display: block;
    line-height: 10px;
    font-size: 1em;
    margin: 0;
    padding: 0;

}

.pt-item-des {
    margin: 10px 0;
    font-size: 1em;
}