

<h3 class=""> Pending Mortgages </h3>

<!-- <div *ngFor="let portfolio of _pendingPortfolio">
	<img src="portfolio.property.images[0]">
	<h4 class="propertyName"> {{ portfolio.property.name}} </h4>

	<p class="investedAmount"> <strong> My Invested Amount: </strong> {{ portfolio.investedAmount}}% </p>
	<p class="percentageOwned"> <strong> My percentage owned: </strong>${{portfolio.percentageOwned}} </p>

	<div class="progressBar">

		<ngb-progressbar [max]="portfolio.investedAmount" [value]="totalCollectedAmount"><span style="color:white; white-space:nowrap;">{{totalCollectedAmount}} / {{portfolio.investedAmount}}</span>
		</ngb-progressbar>
		<p class="pledge"> <strong> Pledge: </strong> ${{ portfolio.pledge}} </p>
		<p class="accumulatedAmount"> <strong> Accumulated Amount: </strong> ${{ portfolio.accumulatedAmount}} </p>

	</div>


</div> -->
