

<h3 *ngIf="_pendingPortfolio.length!=0" class=""> Pending Mortgages </h3>

<ul class="mypendingMortgages">  
  	<li class="myMortgage" *ngFor="let portfolio of _pendingPortfolio">
  	<img class="propertyImg" [src]="portfolio.property.images[0]">

  	<h4 class="propertyName"> {{ portfolio.property.name}} </h4>

	<div class="progressBar">

		<p class="investedAmount"> <strong> My Invested Amount: </strong> ${{ portfolio.investedAmount}}</p>
		<p class="percentageOwned"> <strong> My percentage owned: </strong>{{portfolio.percentageOwned}}% </p>
		<p class="pledge"> <strong> Pledge: </strong> ${{ portfolio.pledge}} </p>
		<p class="accumulatedAmount"> <strong> Accumulated Amount: </strong> ${{ portfolio.accumulatedFund.amount}} </p>
		<ngb-progressbar [max]="portfolio.pledge" [value]="portfolio.accumulatedFund.amount"><span style="color:white; white-space:nowrap;">{{portfolio.accumulatedFund.amount}} / {{portfolio.pledge}}</span>
		</ngb-progressbar>
		<p class="accumulatedPeople"> <strong> No. of Investors: </strong> ${{ portfolio.accumulatedFund.numOfParticipants}} </p>

	</div>


  </li>
<ul>  