
<ngb-carousel>
  <template ngbSlide>
    <img src="../hackathon/img/info3.jpg">
    <div class="carousel-caption">
      <h5>Vision</h5>
      <p>Our goal is to connect landlords with investors. So that landlords can get crowd funding to purchase properties and investors can jump aboard for property investments with less money and higher interests. </p>
    </div>
  </template>
  <template ngbSlide>
    <img src="../hackathon/img/info2.jpg">
    <div class="carousel-caption">
      <h5>Vision</h5>
      <p>Our goal is to connect landlords with investors. So that landlords can get crowd funding to purchase properties and investors can jump aboard for property investments with less money and higher interests. </p>
    </div>
  </template>
  <template ngbSlide>
    <img src="../hackathon/img/info1.jpg">
    <div class="carousel-caption">
      <h5>Vision</h5>
      <p>Our goal is to connect landlords with investors. So that landlords can get crowd funding to purchase properties and investors can jump aboard for property investments with less money and higher interests. </p>
    </div>
  </template>
</ngb-carousel>

<button type="button" class="btn btn-primary btn-lg" (click)="clickMore()">Find Out More</button>
