
<ngb-carousel>
  <template ngbSlide>
    <img src="../hackathon/img/info1.jpg">
    <div class="carousel-caption">
      <h5>First slide label</h5>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </template>
  <template ngbSlide>
    <img src="../hackathon/img/info2.jpg">
    <div class="carousel-caption">
      <h5>Second slide label</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </template>
  <template ngbSlide>
    <img src="../hackathon/img/info3.jpg">
    <div class="carousel-caption">
      <h5>Third slide label</h5>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </template>
</ngb-carousel>
